:root {
	--non-mono-font: "SF Compact Text";
	/* --mono-font: "JetBrains Mono"; */
	--mono-font: "JetBrainsMono Nerd Font Mono";
    --commit-details-font-family: var(--mono-font);
    --commit-details-font-size: 14px !important;
}
